//
// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only
//

OTHER_SWIFT_FLAGS = $(inherited) -no-warnings-as-errors

// To use a test input file for the camera, uncomment the below line, uncomment
// the relevant line in the Podfile to set RINGRTC_USE_FILE_BASED_CAMERA, and
// put a video file at the below location
// MAYBE_INPUT_VIDEO_PATH = Signal/test/Assets/input_video.mp4
